<div class="content">


<div class="nav">
  <nav>
      <button mat-button>Accueil</button>
    <a href="circus/#section_employee"><button mat-button >Equipe</button></a>
    <a href="circus/#section_event"><button mat-button>Evénements</button></a>
      <button mat-button>Billetterie</button>
    <a href="circus/#section_circus"><button mat-button>Cirques</button></a>
  </nav>
</div>

<section class="section" *ngIf="localCircus">
  <h1>{{localCircus.name}}</h1>
  <p>Grands spectables,</p>
  <p>Sensationnels</p>
</section>


<div class="btn">
  <button>Acheter des billets</button>
</div>

</div>
<app-employee class="employee" id="section_employee"></app-employee>
<app-event class="event" id="section_event"></app-event>
<app-circus class="circus" id="section_circus"></app-circus>
<app-footer class="footer" id="section_footer"></app-footer>

