<mat-sidenav-container>

  <mat-sidenav-content>

    <div *ngFor="let event of allEvents; let idEvent=index">

      <div class="event">

        <div class="event_title">
          {{event.name}}
        </div>


        <div class="event_image">
          <img [src]="event.image" alt="">
        </div>

        <div class="event_details">
          <p>{{event.date | date: 'dd.MM.yyyy'}}</p>
          <p>
            {{event.description}}
          </p>
        </div>

      </div>

    <button mat-button (click)="addToCart(event)" (click)="sidenav.open()" >Ajouter au panier</button>

    </div>

  </mat-sidenav-content>



    <mat-sidenav #sidenav mode="side" position="end" >

              <div class="cart" *ngFor="let event of cart; let idTicket = index">

                <p>{{event.name}}</p>
                <p>{{event.priceAdult}} €</p>
                <button mat-button (click)="minusProduct(event)">-</button>
                <p>{{event.quantity}}</p>
                <button mat-button (click)="addProduct(event)">+</button>
              </div>

               <h1>Panier : {{totalOrder()}}</h1>
               <button mat-button (click)="openDialog()">Commander</button>
               <button mat-button (click)="sidenav.close()">Fermer</button>
    </mat-sidenav>



</mat-sidenav-container>





